*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    border: 1px solid transparent;
    font-family: "Quicksand";
    font-size: 16px;
    color: #fff;
    background: linear-gradient(-45deg, #42275a , #734b6d);
}


a,
input,
button {
    font: inherit;
    color: inherit;
}



/** generic layer styles **/

.layer {
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease;
}


.layer--shown {
    pointer-events: auto;
    opacity: 1;
}



/** signin layer styles **/

.signin-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.signin__text {
    max-width: 350px;
    margin-bottom: 50px;
    font-size: 24px;
}


@media (min-width: 1024px) {
    .signin__text {
        max-width: 450px;
        font-size: 32px;
    }
}



/** message form styles **/

.messages-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.message-form {
    width: 80vw;
    max-width: 600px;
    margin: auto;
    text-align: center;
}


.message-form__text {
    display: block;
    margin-bottom: 50px;
    font-size: 24px;
}


.message-form__input {
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background: none;
    outline: none;
    box-shadow: none;
    transition: box-shadow 150ms ease;
}

.message-form__input:focus {
    border-bottom-color: #ffc107;
    box-shadow: 0 1px 0 0 #ffc107;
}


.message-form__actions {
    margin-top: 25px;
}



/** app header styles **/

.app-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80vw;
    padding: 50px;
    margin-bottom: -150px;
    text-align: right;
}


.app-header-action {
    height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    text-decoration: none;
    line-height: 50px;
    transition: background 300ms ease;
    cursor: pointer;
    outline: none;
}

.app-header-action:hover,
.app-header-action:focus {
    background-color: rgba(0, 0, 0, 0.25);
}



/** logout button styles **/

.logout-button {
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 10px;
    font-size: 0;
    background: url("../images/logout.png") center center no-repeat;
    background-size: 40%;
    border-radius: 50%;
}
