*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    border: 1px solid transparent;
    font-family: "Quicksand";
    font-size: 16px;
    color: #fff;
    background: linear-gradient(-45deg, #42275a , #734b6d);
    overflow: hidden;
}


a,
input,
button {
    font: inherit;
    color: inherit;
}



/** generic layer styles **/

.layer {
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease;
}


.layer--shown {
    pointer-events: auto;
    opacity: 1;
}



/** app header styles **/

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 80vw;
    padding: 5vw;
    font-size: 0.9em;
    text-align: right;
}


.app-header-action {
    height: 50px;
    padding: 0 1.5em;
    border-radius: 50px;
    text-decoration: none;
    line-height: 50px;
    transition: background 300ms ease;
    cursor: pointer;
    outline: none;
}

.app-header-action:hover,
.app-header-action:focus {
    background-color: rgba(0, 0, 0, 0.25);
}


@media (min-device-width: 425px), (min-width: 425px) {
    .app-header {
        font-size: 1em;
    }
}


@media (min-device-width: 720px), (min-width: 720px) {
    .app-header {
        justify-content: flex-end;
        padding: 50px;
    }
}



/** logout button styles **/

.logout-button {
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 10px;
    font-size: 0;
    background: url("../images/logout.png") center center no-repeat;
    background-size: 40%;
    border-radius: 50%;
}



/** signin layer styles **/

.signin-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.signin__text {
    max-width: 350px;
    margin-bottom: 50px;
    font-size: 24px;
}


@media (min-width: 1024px) {
    .signin__text {
        max-width: 450px;
        font-size: 32px;
    }
}



/** message layer styles **/

.message-layer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}


.message-layer .app-header {
    margin-bottom: 0;
}


@media (min-device-height: 600px), (min-height: 600px) {
    .message-layer {
        justify-content: center;
    }


    .message-layer .app-header {
        margin-bottom: -150px;
    }
}



/** message form styles **/

.message-form {
    width: 80vw;
    max-width: 600px;
    margin: auto;
    text-align: center;
}


.message-form__text {
    display: block;
    margin-bottom: 50px;
    font-size: 24px;
}


.message-form__input {
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background: none;
    outline: none;
    box-shadow: none;
    transition: box-shadow 150ms ease;
}

.message-form__input:focus {
    border-bottom-color: #ffc107;
    box-shadow: 0 1px 0 0 #ffc107;
}


.message-form__actions {
    margin-top: 25px;
}


.message-form__actions .button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
}


@media (min-device-width: 768px), (min-width: 768px) {
    .message-form__actions .button {
        width: auto;
        display: inline-block;
        margin: 5px;
    }
}



/** messages layer styles **/

.messages-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


.messages {
    width: 80vw;
    max-width: 800px;
    padding-bottom: 50px;
    list-style: none;
}


.messages:empty::after {
    content: "Fetching messages...";
    display: block;
    margin-top: 50px;
    text-align: center;
    opacity: 0.5;
}


.message {
    display: flex;
    margin: 25px 0;
    opacity: 1;
    transform: translateY(0);
    transition: all 250ms ease;
}


.message__avatar {
    flex-shrink: 0;
    width: 10vw;
    height: 10vw;
    max-width: 55px;
    max-height: 55px;
    margin-right: 15px;
    border-radius: 50%;
}


.message__details {
    flex-grow: 1;
}


.message__author {
    font-size: 1.25em;
    line-height: 10vw;
}


.message--outgoing {
    justify-content: flex-end;
}


.message--outgoing .message__avatar {
    order: 1;
    margin-left: 15px;
    margin-right: 0;
}


.message--outgoing .message__details {
    text-align: right;
}


.message--entering {
    opacity: 0;
    transform: translateY(-50%);
}


@media (min-device-width: 550px), (min-width: 550px) {
    .message__author {
        line-height: 55px;
    }
}


@media (min-device-width: 768px), (min-width: 768px) {
    .message {
        padding-right: 200px;
        margin: 50px 0;
    }


    .message--outgoing {
        padding-left: 200px;
        padding-right: 0;
    }


    .message__avatar {
        margin-right: 25px;
    }


    .message--outgoing .message__avatar {
        margin-left: 25px;
    }
}



/** offline layer styles **/

.offline-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.offline__text {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: normal;
}
