<!doctype html>
<html>
    <head>
        <title>ChatApp | Progressive Web App</title>

        <meta charset="utf-8">
        <meta name="theme-color" content="#42275a">
        <meta name="google-signin-client_id" content="100340079586-dro5l833c309uigeu98lsl69nrkf2077.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="/manifest.json">

        <link rel="stylesheet" href="/static/stylesheets/fonts.css">
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/chatapp.css">
    </head>

    <body>
        <div class="layer messages-layer">
            <header class="app-header">
                <a class="app-header-action" href="/">Write Message</a>
                <button class="app-header-action logout-button" title="Sign Out">Sign Out</button>
            </header>

            <ul class="messages"></ul>
        </div>

        <div class="layer signin-layer">
            <p class="signin__text">You need to sign in to use this application.</p>
            <div class="g-signin2 signin__button" data-width="200" data-longtitle="true" data-onsuccess="onsignin"></div>
        </div>

        <template id="message">
            {% raw %}
            <li class="message {{#outgoing}}message--outgoing{{/outgoing}}" data-when="{{when}}">
                <img class="message__avatar" src="{{author.avatar}}" alt="{{author.name}}">
                <div class="message__details">
                    <h2 class="message__author">{{author.name}}</h2>
                    <p class="message__content">{{content}}</p>
                </div>
            </li>
            {% endraw %}
        </template>

        <p class="toast toast--hidden">Welcome!</p>

        <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/static/vendor/handlebars/handlebars.min.js"></script>
        <script src="/static/vendor/firebase/firebase.js"></script>
        <script src="/static/vendor/idb/lib/idb.js"></script>
        <script src="/static/vendor/idb-keyval/idb-keyval.js"></script>
        <script src="/static/javascripts/utils.js"></script>
        <script src="/static/javascripts/chatapp.js"></script>
        <script src="/static/javascripts/messages.js"></script>
        <script src="/static/javascripts/authentication.js"></script>
    </body>
</html>
