<!doctype html>
<html>
    <head>
        <title>ChatApp | Progressive Web App</title>

        <meta charset="utf-8">
        <meta name="theme-color" content="#42275a">
        <meta name="google-signin-client_id" content="100340079586-dro5l833c309uigeu98lsl69nrkf2077.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="/manifest.json">

        <link rel="stylesheet" href="/static/stylesheets/fonts.css">
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/chatapp.css">
    </head>

    <body>
        <div class="layer layer--shown offline-layer">
            <h1 class="offline__text">You are currently offline.</h1>
            <a class="button" href="/">Home</a>
        </div>

        <p class="toast toast--hidden">Welcome!</p>
    </body>
</html>
